body {
	background-size: cover;
	background-image: url('img/JUIT1.jpg');
	overflow-y: hidden;
}

.cont{
	margin:1em;
    transform-style: preserve-3d;
	background: linear-gradient(to bottom, rgba(255, 174, 0, 0.7), rgba(238, 255, 0, 0.7));
	text-align: center;
	border-radius: 4px;
	padding: 30px 30px 30px 30px;
}
butt:hover{
text-decoration: underline;
}
#section1{
	vertical-align: middle !important;
	font-family: 'Cinzel', serif;
	text-align: center;
	color: #333;
	margin-top: 0;
	margin-bottom: 2%;
	z-index: 7000;
	position: relative;
	padding:0;
	margin:0 0 4% 0;
	transform-style: preserve-3d;
	
	padding: 2% 0;
	text-align: center;
	border-radius: 4px;
	transform: translateZ(20px);
	margin-bottom: 0;
	width: 100%;
}
.section{
	font-family: 'Cinzel', serif;
	color: #D7D6D6 !important;
	vertical-align: top;
	margin-top: 1%;
	padding: 0.4%;
	color: #D7D6D6;
	font-size: 1.06em;
	border-radius: 2px;
	animation: 0.5s zoom;
	font-size: 0.94em;
	line-height: 1.15em;
	font-family: 'Cinzel', serif;
	font-size: 1.16em;
	font-weight: bold;
	color: #79B473;
	border-collapse: collapse;
	text-align: center;
	transition: all 0.3s;
	animation: 0.5s zoom;
	padding-top: 1.5%;
	margin-left: 25%;
	margin-top: 0;
	border-radius: 2px;
	padding: 5%;
	animation: 0.5s zoom;
	font-family: 'Cinzel', serif;
	color: #D7D6D6;
	padding: 4px;
	font-size: 9px;
	padding: 2px;
	font-size: 10px;
	margin: 0;
	padding: 0.2%;
	overflow: hidden;
	padding-left: 6%;
	font-size: 1em;
	background-size: cover;
}
#eve-name{
	margin-top: 1%;
	text-align: center;
	text-transform: uppercase;
	color: #D7D6D6;
}
@media screen and (max-width: 540px){
	.conatainer1{
		margin-top: 0px;
	}
}